* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: 'Ubuntu', sans-serif;
}

body {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.container {
  position: relative;
  background-color: springgreen;
  padding: 0;
  border-radius: 1em;
  width: 4em;
  height: 2em;
  transition: 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease-in-out;
}
.container::before {
  content: '';
  transition: all 0.5s ease-in-out;
  font-size: 1.1em;
}

.container.off {
  background-color: tomato;
}

.container,
.container div,
.container input {
  position: absolute;
  font-size: 1.1em;
}

.container.off::before {
  position: absolute;
  content: 'F';
  left: 4em;
}

.container #seletor {
  background-color: azure;
  top: 50%;
  transform: translateY(-50%);
  left: 2em;
  text-align: center;
  line-height: 1.5em;
  transition: all 0.5s ease-in-out;
}

.container #seletor::before {
  position: absolute;
  left: 2em;
  content: 'N';
  transition: all 0.5s ease-in-out;
}

.container.off #seletor::before {
  position: absolute;
  left: 2em;
  content: 'F';
  transition: all 0.5s ease-in-out;
}

.container.off #seletor {
  left: 0.2em;
}

#seletor {
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
}
